.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients-list__item {
  display: flex;
  width: 170px;
  height: 92px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--first-icon-colour);
  border: 1px solid var(--first-icon-colour);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--active-link-color);
  }
}

.clients-list__link .clients-list__logo {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__logo {
  fill: currentColor;
  .client-link:hover &,
  .client-link:focus & {
    fill: var(--active-link-color);
  }
}
