.card-list {
  display: flex;
  gap: 30px;
}

.card-list__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.card-list__icon {
  display: flex;
}

.card-list__rectangle {
  @include placing(flex, center, center);
  width: 270px;
  height: 120px;
  background-color: var(--middle-background-color);
  border-radius: 4px;
}

.card-list__title {
  @include font(14, 1.14, 700, 0.03);
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-top: 30px;
}

.card-list__text {
  @include font(14, 1.71, null, 0.03);
  margin-top: 10px;
}
