.card-list {
  display: flex;
  gap: 30px;
}

.card-list__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.card-list__icon {
  display: flex;
}

.card-list__rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--middle-background-color);
  border-radius: 4px;
}

.card-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-top: 30px;
}

.card-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
