.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-color: var(--dark-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_backgraund.jpg);
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  @include font(16, 1.88, 700, 0.06);
  font-style: normal;
  color: var(--hero-btn-text-color);
  letter-spacing: 0.06em;
  background: var(--hero-btn-background-color);
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  min-width: 216px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--active-hero-btn-background-color);
  }
}
