body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 14px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-title-color);
}



.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-right: auto;
}

.section.no-padding-top {
  padding-top: 0;
}

