body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section__title {
  @include font(36, 1.17, 700, 0.03);
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.title {
  @include font(14, 1.14, null, 0.03);
  text-align: center;
  text-transform: uppercase;

  color: var(--first-title-color);
}



.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-right: auto;
}

.section.no-padding-top {
  padding-top: 0;
}

